@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> SignInManager;

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout">
        <input type="submit" class="btn" value="LOGOUT : @User.Identity.Name">
    </form>
}
else
{
    <div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    </div>
}
